<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rayosX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F22C0C501C9B8E6B00845984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F22C0C661C9B8E6B00845984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F22C0C711C9B8E6B00845984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
